/* general settings */

* {
    box-sizing: border-box;
}

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Medium.ttf)
}

html {
    font-family: poppins;
    color: #FEFEFE;
}

body {
    text-align: center;
    background-color: #22252E;
}

.main-layout {
    margin: auto;
    max-width: 1080px;
}


/* nav */

.main-nav {
    width: 100%;
    display: flex;
    background-color: #1FAB94;
    border-radius: 2rem;
    height: 74px;
    margin-bottom: 10px;
}

.logo {
    width: 40%;
    margin-left: 10%;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
}

.main-nav ul {
    font-size: 1.3rem;
    width: 60%;
    /* display: inline; */
    display: flex;
    justify-content: space-evenly;
}

.main-nav ul li button {
    background-color: #21AC91;
    color: #FEFEFE;
    border: none;
    border-left: 0.3em solid #21AC91;
    border-right: 0.3em solid #21AC91;
    border-radius: 1.2em;
    cursor: pointer;
    font-size: 1rem;
    font-family: poppins;
}

.main-nav ul li button:hover {
    color: #21AC91;
    background-color: #FEFEFE;
    border-left: 0.3em solid white;
    border-right: 0.3em solid white;
    border-radius: 1.2em;
    cursor: pointer;
}


/* main container */

.main-container {
    background-color: #383B42;
}


/* gallery */

.gallery-nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.searchbar {
    background-color: #22252C;
    font-size: 1rem;
    color: white;
    font-family: poppins;
    border-radius: 1.2em;
    border-style: none;
    height: 3em;
    width: 40%;
    display: inline;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px
}

.search-icon {
    height: 30px;
    width: 30px;
    margin-top: 40px;
    transform: translate(-87px, -20px);
    filter: brightness(0.25);
}

.keywords {
    width: 30%;
    justify-content: space-between;
    background-color: #87898D;
    border-radius: 2em;
}

.keywords li {
    width: 20%;
    display: inline;
    margin-right: 15px;
}

.more {
    background-color: #21AC91;
    color: #FEFEFE;
    border-left: 0.3em solid #21ac91;
    border-right: 0.3em solid #21ac91;
    border-radius: 1.2em;
    border-bottom: none;
    cursor: pointer;
    height: 37px;
    width: 93px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1rem;
    font-family: poppins;
}

.template-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.template-container img {
    cursor: pointer;
    border-radius: 0.5em;
}

.generator {
    border: 2px solid black;
    margin: auto;
}

.hidden {
    display: none
}

img {
    width: 150px;
}

.ui-container {
    display: block;
    margin-bottom: 15px;
}


/* editor */

.generator-container {
    background-color: #22252C;
    justify-content: space-evenly;
}

.ui-container {
    background-color: #383B42;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    justify-content: space-evenly;
}

.meme-text {
    font-family: poppins;
    font-size: 1.2rem;
    text-align: center;
    border: none;
    border-radius: 3em;
    border-bottom: 3px solid #BBC4D1;
    margin: 0 10px 0;
}

.line-switch {
    background-color: #3FB0CD;
    color: white;
    border: none;
    font-size: 1.8em;
    border-radius: .3em;
    margin-left: 2px;
    border-bottom: 4px solid #048B97;
    cursor: pointer;
}

.line-switch:hover {
    color: #3FB0CD;
    background-color: white;
    border-color: #696b6b;
}

.line-switch:active {
    -webkit-box-shadow: 0px -6px 8px -1px rgba(185, 194, 199, 0.37);
    box-shadow: 0px -6px 8px -1px rgba(185, 194, 199, 0.37);
}

.line-add {
    background-color: #3CCB52;
    border: none;
    border-radius: 0.3em;
    color: white;
    font-family: poppins;
    border-bottom: 4px solid #015D33;
    cursor: pointer;
}

.line-add :hover {
    color: #3CCB52;
    background-color: white;
}

.line-remove {
    background-color: #DE3437;
    border: none;
    border-radius: 0.3em;
    color: white;
    font-family: poppins;
    border-bottom: 4px solid #8C0606;
    cursor: pointer;
}

.line-remove:hover {
    color: #DE3437;
    background-color: white;
    border-color: #696b6b;
}

.text-location {
    background-color: #FFFFFF;
    border: none;
    border-radius: 0.3em;
    color: rgb(0, 0, 0);
    font-family: poppins;
    border-bottom: 4px solid #3E7D7A;
    cursor: pointer;
    font-size: 1.2rem;
    width: 2.5rem;
}

.generic-button {
    background-color: #FFFFFF;
    border: none;
    border-radius: 0.3em;
    color: rgb(0, 0, 0);
    font-family: poppins;
    border-bottom: 4px solid #3E7D7A;
    cursor: pointer;
    font-size: 1.2rem;
    width: 2.5rem;
}

.generic-button:hover {
    background-color: #000000;
    color: white;
    border-bottom: 4px solid #a7acac;
}

.generic-button:active {
    -webkit-box-shadow: 0px -6px 8px -1px rgba(185, 194, 199, 0.37);
    box-shadow: 0px -6px 8px -1px rgba(185, 194, 199, 0.37);
}

.line-remove:active {
    -webkit-box-shadow: 0px -6px 8px -1px rgba(185, 194, 199, 0.37);
    box-shadow: 0px -6px 8px -1px rgba(185, 194, 199, 0.37);
}

.bottom-button {
    height: 38px;
    border: none;
    font-size: 1.5rem;
    font-family: poppins;
    border-radius: 0.3em;
    border-bottom: 4px solid #3E7D7A;
    cursor: pointer;
}

.bottom-button:active {
    -webkit-box-shadow: 0px -6px 8px -1px rgba(185, 194, 199, 0.37);
    box-shadow: 0px -6px 8px -1px rgba(185, 194, 199, 0.37);
}

.bottom-button:hover {
    background-color: #000000;
    color: white;
    border-bottom: 4px solid #a7acac;
}

.download {
    height: 40px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 0.3em;
    color: rgb(0, 0, 0);
    font-family: poppins;
    border-bottom: 4px solid #3E7D7A;
    cursor: pointer;
    font-size: 1.5rem;
    width: 2.5rem;
    text-decoration: none;
}

.download:hover {
    background-color: #000000;
    color: white;
    border-bottom: 4px solid #a7acac;
}

.download:active {
    -webkit-box-shadow: 0px -6px 8px -1px rgba(185, 194, 199, 0.37);
    box-shadow: 0px -6px 8px -1px rgba(185, 194, 199, 0.37);
}


/* phone settings */

@media (max-width:780px) {
    .main-layout {
        max-width: 450px;
    }
    .gallery-nav {
        display: grid;
        grid-template: 50px 50px/3fr 1fr;
    }
    .searchbar {
        width: 90%;
        grid-area: 1/ 1/ 1/ 3;
    }
    .search-icon {
        height: 30px;
        width: 30px;
        grid-area: 1/2/1/3;
        transform: translate(20px, -30px);
        filter: brightness(0.25);
    }
    .keywords {
        grid-area: 2/1/3/2;
        width: 90%;
        height: 40%;
    }
}


/* helpers */

.clean-list {
    text-decoration: none;
    list-style-type: none;
    display: inline;
}

.flex {
    display: flex;
}


/* 
.current-image {
    display: none;
} */